# macOS
.DS_Store

# dotenv
.env

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# dead-parrot
demos/ecb_ai_agent/ecb_ai_agent/
demos/ecb_bs_ai_assistant/ecb_bs_ai_assistant/
demos/ecb_hr_ai_assistant/ecb_hr_ai_assistant/
