# macOS
.DS_Store

# dotenv
.env

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# dead-parrot
demos/ecb_triage_agent/ecb_triage_agent/
demos/ecb_bs_expert_agent/ecb_bs_expert_agent/
demos/ecb_hr_expert_agent/ecb_hr_expert_agent/
